.logoAP {
    background-color: #00358e;
}

#logo {
    background-color: #00358e;
    width: 150px;
}

.social-icons {
    float: right;
    margin-top: 30px;
    
}
#facebook {
    width: 25px;
    margin-right: 5px;
}

#instagram {
    width: 25px;
    margin-right: 5px;   
}

#github{
    width: 25px;
    margin-right: 10px;
}

